.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blanchedalmond;
}

.header-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  margin-right: -2rem;
  color: #5ebec4;
}

.header-link-elements {
  display: flex;
  gap: 2rem;
}

.header button {
  border-radius: 0.3rem;
  background-color: blanchedalmond;
  color: #5ebec4;
  border: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.3rem;
  font-weight: 500;
}

.header .counter {
  background: rgb(250, 205, 136);
  border-radius: 50%;
  padding: 0.3rem;
}
